@page 
@model ServerCorePages.CentrumModel
@{
    ViewData["Title"] = "Ubytkáč Server";  
}


<div class="text-center window mb-2">

    <script>
        // console.log("index");
    </script>
</div>
