@page "/easydata/{**entity}"
@using Microsoft.AspNetCore.Html;
@using ;
@using UbytkacBackend.DBModel;
@using UbytkacBackend.ServerCoreStructure;
@using UbytkacBackend.ServerCoreWebPages;
@using System.Security.Claims;
@model ServerCorePages.EasyDataModel
@{
    ViewData["Title"] = "EasyData Manager";

    bool userLogged = false;
    string token = HttpContext.Request.Cookies.FirstOrDefault(a => a.Key == "ApiToken").Value;
    ServerWebPagesToken? serverWebPagesToken = null;
    if (token != null) {
        serverWebPagesToken = CoreOperations.CheckTokenValidityFromString(token);
        if (serverWebPagesToken.IsValid) { User.AddIdentities(serverWebPagesToken.UserClaims.Identities); userLogged = true; }
    }
}


@if (userLogged && serverWebPagesToken.UserClaims.FindFirstValue(ClaimTypes.Role.ToString()) == "admin") {
    <link rel="stylesheet" href="../../metro/tools/easydata/css/easydata.min.css" />
    <div class="container text-center pt-5 mb-2">
    <DIV class="info-panel">
        <div id="EasyDataContainer"></div>
    </DIV></DIV>
    <script src="../../metro/tools/easydata/js/easydata.min.js" type="text/javascript"></script>
    <script>
        window.addEventListener('load', function () {
            new easydata.crud.EasyDataViewDispatcher().run()
        });
    </script>
} else {
  
<script>
    ShowUnAuthMessage();
function Logout() {
    Cookies.remove('ApiToken');
    Metro.storage.storage.clear();
    window.location.href ='/';
}

function ShowUnAuthMessage() {
	$("body")[0].setAttribute("onclick", "Logout();");
    var html_content =
        "<h3>Neautorizovaný Přístup</h3>" +
        "<p>Pokoušíte se provést autorizovanou operaci neoprávněně,</p>" +
        "<p>nebo platnost vašeho tokenu vypršela.</p>";
        "<p>Váš pokus Byl zaznamenám k prověření...</p>" +
    Metro.infobox.create(html_content, "alert");
}
</script>

}
