@page "/easydata/{**entity}"
@{ Layout = "/ServerCorePages/Shared/EasyDataLayout.cshtml"; }

@addTagHelper *, WebOptimizer.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using ServerCorePages;
@using Microsoft.AspNetCore.Html;
@using UbytkacBackend.DBModel;
@using UbytkacBackend.ServerCoreWebPages;
@using UbytkacBackend.ServerCoreStructure;
@using System.Security.Claims;
@model ServerCorePages.EasyDataModel


@* TODO PLNE PREVEST TENTO OBSAH DO AGENDY DYNAMICKE STRANKY  *@
@* MOZNOST UDELAT DESKTOP ALA UZIVATEL  DASHBOARD UZIVATELE *@
@namespace ServerCorePages
@{
    ViewData["Title"] = "DB EasyData Manager";

  
    @* https://github.com/KorzhCom/EasyData/blob/master/easydata.net/src/EasyData.Exporters.Default/Html/HtmlDataExporter.cs  *@
    string token = HttpContext.Request.Cookies.FirstOrDefault(a => a.Key == "ApiToken").Value;
     if (token == null && HttpContext.Request.Headers.Authorization.ToString().Length > 0) { token = HttpContext.Request.Headers.Authorization.ToString().Substring(7); }
    ServerWebPagesToken? srvWebPagesToken = null;
    if (token != null) { srvWebPagesToken = CoreOperations.CheckTokenValidityFromString(token); }


    @if (srvWebPagesToken != null && srvWebPagesToken.IsValid && srvWebPagesToken.UserClaims.FindFirstValue(ClaimTypes.Role.ToString()) == "admin")
        
    {   
        <link rel="stylesheet" href="~/ServerCoreTools/modules/easydata/css/easydata.min.css" />
        <script type="text/javascript" src="~/ServerCoreTools/modules/easydata/js/easydata.min.js"></script>
            <div class="container text-center pt-5 mb-2">
                <DIV class="info-panel">
                    <div id="EasyDataContainer"></div>
                </DIV>
            </div>


            <script>
                window.addEventListener('load', function () {
                    new easydata.crud.EasyDataViewDispatcher().run()
                });
                @* 
                window.addEventListener('load', function () {
                new easydata.crud.EasyDataViewDispatcher({
                    rootEntity: 'Order'
                }).run()
            }); 
            *@
            </script>

        } else {

            <div class="">
                <window>
                    <div class="text-center mt-10 mb-2">
                        <div class="container">
                            <div class="row">
                                <form id="loginform" method="post" 
                                    class="login-form bg-facebook p-6 mx-auto border bd-default drop-shadow"
                                      data-role="validator"
                                      action="javascript:"
                                      data-clear-invalid="2000"
                                      data-on-error-form="invalidForm"
                                      data-on-validate-form="validateForm" style="display: none;">
                                    <span class="mif-vpn-lock mif-4x place-right" style="margin-top: -10px;"></span>
                                    <h2 class="text-light">Database Login</h2>
                                    <hr class="thin mt-4 mb-4 bg-white">
                                    <div class="form-group">
                                        <input id="usernameId" type="text" data-role="input" data-prepend="<span class='mif-envelop'>" placeholder="Enter your email..." data-validate="required">
                                        <!---<input id="usernameId" type="email" data-role="input" data-prepend="<span class='mif-envelop'>" placeholder="Enter your email..." data-validate="required">-->
                                    </div>
                                    <div class="form-group">
                                        <input id="passwordId" type="password" data-role="input" data-prepend="<span class='mif-key'>" placeholder="Enter your password..." data-validate="required minlength=6">
                                    </div>
                                    <div class="form-group mt-10">
                                        <!---<input type="checkbox" data-role="checkbox" data-caption="Remember me" class="place-right">-->
                                        <button class="submit">Přihlásit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </window>
            </div>
            <script>
                //Startup 
                let loginpageLoader;
                $("#loginform").show();

                //Functions
                function invalidForm() {
                    var form = $(this);
                    form.addClass("ani-ring");
                    setTimeout(function () {
                        form.removeClass("ani-ring");
                    }, 1000);
                }

                function validateForm() {
                    showPageLoading();
                    var def = $.ajax({
                        global: false, type: "POST", url: "/EasyITCenterAuthentication", dataType: 'json',
                        headers: { "Authorization": "Basic " + btoa($("#usernameId").val() + ":" + $("#passwordId").val()) }
                    });

                    def.fail(function (data) {
                        var notify = Metro.notify; notify.setup({ width: 300, duration: 1000, animation: 'easeOutBounce' });
                        notify.create("Login Failed", "Alert", { cls: "alert" }); notify.reset();
                        hidePageLoading();
                    });

                    def.done(function (data) {
                        Login(data);
                        hidePageLoading();
                    });
                }

                function Login(data) {
                    Cookies.set('ApiToken', data.Token);
                    Metro.storage.setItem('ApiToken', data.Token);
                    window.location.href = "/EasyData";
                }

                function hidePageLoading() { Metro.activity.close(loginpageLoader); }
                function showPageLoading() {
                    if (loginpageLoader != undefined) {
                        if (loginpageLoader[0]["DATASET:UID:M4Q"] == undefined) { loginpageLoader = null; }
                        else { try { Metro.activity.close(loginpageLoader); } catch {
                                try { loginpageLoader.close(); } catch { loginpageLoader = loginpageLoader[0]["DATASET:UID:M4Q"].dialog; loginpageLoader.close(); }; loginpageLoader = null; } }
                    }
                    loginpageLoader = Metro.activity.open({ type: 'atom', style: 'dark', overlayClickClose: true, /*overlayColor: '#fff', overlayAlpha: 1*/ });
                }
            </script>
    }
}
     

