################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/obj
/Release
/AdvancedProjects
/packages
/TOOLS/EASYTools.Calendar/bin/Debug
/out/debug/SqlConnectionDialog
/TOOLS/EASYTools.Calendar/bin/Release
/TOOLS/EASYTools.Calendar/obj
/TOOLS/EASYTools.CrashReporter/.vs/CrashReporterWPF.Net
/TOOLS/EASYTools.CrashReporter/bin
/TOOLS/EASYTools.CrashReporter/obj
/TOOLS/EASYTools.SqlConnectionDialog/obj
/TOOLS/EASYTools.TouchKeyboard/bin
/TOOLS/EASYTools.TouchKeyboard/obj
/TOOLS/FutureAddOn
/TOOLS/packages
/DEMOHOTEL/bin/Debug/net6.0
/DEMOHOTEL/obj/Debug/net6.0/ref
/DEMOHOTEL/obj/Debug/net6.0/refint
/DEMOHOTEL/obj/Debug/net6.0/staticwebassets
/DEMOHOTEL/obj/Debug/net6.0/staticwebassets.build.json
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.pdb
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.MvcApplicationPartsAssemblyInfo.cs
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.MvcApplicationPartsAssemblyInfo.cache
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.genruntimeconfig.cache
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.dll
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.csproj.FileListAbsolute.txt
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.csproj.CoreCompileInputs.cache
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.csproj.CopyComplete
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.csproj.AssemblyReference.cache
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.assets.cache
/DEMOHOTEL/obj/Release/net6.0/DEMOHOTEL.GeneratedMSBuildEditorConfig.editorconfig
/DEMOHOTEL/obj/Release/net6.0/DEMOHOTEL.csproj.AssemblyReference.cache
/DEMOHOTEL/obj/Release/net6.0/DEMOHOTEL.assets.cache
/DEMOHOTEL/obj/Release/net6.0/DEMOHOTEL.AssemblyInfoInputs.cache
/DEMOHOTEL/obj/Release/net6.0/DEMOHOTEL.AssemblyInfo.cs
/DEMOHOTEL/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/DEMOHOTELVUE/obj/Debug/DEMOHOTELVUE.njsproj.FileListAbsolute.txt
/DEMOHOTELVUE/obj/Debug/DEMOHOTELVUE.njsproj.CoreCompileInputs.cache
/DEMOHOTELVUE/obj/Debug/DEMOHOTELVUE.njsproj.AssemblyReference.cache
/TravelAgencyAdmin/obj/TravelAgencyAdmin.csproj.nuget.g.targets
/TravelAgencyAdmin/obj/TravelAgencyAdmin.csproj.nuget.g.props
/TravelAgencyAdmin/obj/TravelAgencyAdmin.csproj.nuget.dgspec.json
/TravelAgencyAdmin/obj/project.nuget.cache
/TravelAgencyAdmin/obj/project.assets.json
/TravelAgencyAdmin/TabsAndSystem/Extensions/NewLineOnTabBehavior.cs
