################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/obj
/Release
/AdvancedProjects
/packages
/TOOLS/EASYTools.Calendar/bin/Debug
/out/debug/SqlConnectionDialog
/TOOLS/EASYTools.Calendar/bin/Release
/TOOLS/EASYTools.Calendar/obj
/TOOLS/EASYTools.CrashReporter/.vs/CrashReporterWPF.Net
/TOOLS/EASYTools.CrashReporter/bin
/TOOLS/EASYTools.CrashReporter/obj
/TOOLS/EASYTools.SqlConnectionDialog/obj
/TOOLS/EASYTools.TouchKeyboard/bin
/TOOLS/EASYTools.TouchKeyboard/obj
/TOOLS/FutureAddOn
/TOOLS/packages
/DEMOHOTEL/bin/Debug/net6.0
/DEMOHOTEL/obj/Debug/net6.0/ref
/DEMOHOTEL/obj/Debug/net6.0/refint
/DEMOHOTEL/obj/Debug/net6.0/staticwebassets
/DEMOHOTEL/obj/Debug/net6.0/staticwebassets.build.json
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.pdb
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.MvcApplicationPartsAssemblyInfo.cs
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.MvcApplicationPartsAssemblyInfo.cache
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.genruntimeconfig.cache
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.dll
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.csproj.FileListAbsolute.txt
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.csproj.CoreCompileInputs.cache
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.csproj.CopyComplete
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.csproj.AssemblyReference.cache
/DEMOHOTEL/obj/Debug/net6.0/DEMOHOTEL.assets.cache
/DEMOHOTEL/obj/Release/net6.0/DEMOHOTEL.GeneratedMSBuildEditorConfig.editorconfig
/DEMOHOTEL/obj/Release/net6.0/DEMOHOTEL.csproj.AssemblyReference.cache
/DEMOHOTEL/obj/Release/net6.0/DEMOHOTEL.assets.cache
/DEMOHOTEL/obj/Release/net6.0/DEMOHOTEL.AssemblyInfoInputs.cache
/DEMOHOTEL/obj/Release/net6.0/DEMOHOTEL.AssemblyInfo.cs
/DEMOHOTEL/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/DEMOHOTELVUE/obj/Debug/DEMOHOTELVUE.njsproj.FileListAbsolute.txt
/DEMOHOTELVUE/obj/Debug/DEMOHOTELVUE.njsproj.CoreCompileInputs.cache
/DEMOHOTELVUE/obj/Debug/DEMOHOTELVUE.njsproj.AssemblyReference.cache
/TravelAgencyAdmin/obj/TravelAgencyAdmin.csproj.nuget.g.targets
/TravelAgencyAdmin/obj/TravelAgencyAdmin.csproj.nuget.g.props
/TravelAgencyAdmin/obj/TravelAgencyAdmin.csproj.nuget.dgspec.json
/TravelAgencyAdmin/obj/project.nuget.cache
/TravelAgencyAdmin/obj/project.assets.json
/TravelAgencyAdmin/TabsAndSystem/Extensions/NewLineOnTabBehavior.cs
/TOOLS/EASYTools.ImageEffectLibrary/obj/Debug/net452
/TOOLS/EASYTools.ImageEffectLibrary/obj/Release/net452
/TOOLS/EASYTools.ImageEffectLibrary/obj
/TOOLS/EASYTools.ImageEffectLibrary/bin/Release/net452
/TOOLS/EASYTools.ImageEffectLibrary/bin/Debug/netcoreapp3.0
/TOOLS/EASYTools.ImageEffectLibrary/bin/Debug/net452
/DEMOHOTELVUE/bin
/DEMOHOTEL/obj/Debug/net6.0
/TravelAgencyBackEnd/obj/Debug/net6.0/NuGet/25E16319D3C17FF656833E1A6A9EE1BC4243D3AE/MimeTypes/2.4.1
/TravelAgencyBackEnd/obj/Release/net6.0/NuGet/25E16319D3C17FF656833E1A6A9EE1BC4243D3AE/MimeTypes/2.4.1
/.vs/TravelAgency/DesignTimeBuild/.dtbcache.v2
/.vs/TravelAgency/v17/.futdcache.v2
/.vs/TravelAgency/v17/fileList.bin
