<!DOCTYPE html>
<html lang="cs-CZ">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="charset" content="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Libor Svoboda">
    <meta name="description" content="UbytkacBackend">
    <meta name="keywords" content="System, Backend, API, EASY-DATA-Center, EASY-SYSTEM-Builder, Application, Server, IT, Solution, Help, HowTo, Javascript, HTML5, UI, Library, Web, Development, Framework">

    <link rel="stylesheet" href="../../metro/css/metro-icons.min.css" />
    <link rel="stylesheet" href="../../metro/css/metro-all.min.css" />
    <script type="text/javascript" src="../../metro/jquery/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../metro/addons/js/js.cookie.min.js"></script>
    <script type="text/javascript" src="../../metro/js/metro.4.5.2.min.js"></script>

</head>
<body id="body"  data-section="body">
    <div class="container">
        <main id="WebPageHTMLContent" role="main" class="pb-10" style="top: 50px; position: relative;">
            @RenderBody()
        </main>
    </div>
</body>
</html>
