[Unit]  
Description=Dotnet Core Travel Agency Backend service  
  
[Service]  
ExecStart=dotnet /root/TABackend/TravelAgencyBackEnd.dll  
WorkingDirectory=/root/TABackend/
User=root  
Group=root  
Restart=always
RestartSec=5   
SyslogIdentifier=dotnet-TABackend-service  
PrivateTemp=true  
Environment=ASPNETCORE_ENVIRONMENT=Development
KillSignal=SIGINT
StandardOutput=file:/root/TABackend/AAALogs/standardOutput.log
StandardError=file:/root/TABackend/AAALogs/standardError.log

[Install]  
WantedBy=multi-user.target  