[Unit]  
Description=Dotnet Core Travel Agency Backend service  
  
[Service]  
ExecStart=dotnet /root/TravelAgencyBackEnd/TravelAgencyBackEnd.dll  
WorkingDirectory=/root/TravelAgencyBackEnd/
User=root  
Group=root  
Restart=always
RestartSec=5   
SyslogIdentifier=dotnet-TravelAgencyBackEnd-service  
PrivateTemp=true  
Environment=ASPNETCORE_ENVIRONMENT=Development
KillSignal=SIGINT
StandardOutput=file:/root/TravelAgencyBackEnd/AAALogs/standardOutput.log
StandardError=file:/root/TravelAgencyBackEnd/AAALogs/standardError.log

[Install]  
WantedBy=multi-user.target  