@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);

#test2 {
    border-radius: 30px;
    background-color: rgba(98, 255, 0, 0.5);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
    margin-top: 20px;
    color: white;
}

#AppBody {
    position: relative;
    min-height: 100%;
    top: -45px !important;
}

.p-inputnumber-button {
    background: #53c16e !important;
    border: #14a04d !important;
}

    .p-inputnumber-button:enabled:active {
        background: #53c16e !important;
        border: #14a04d !important;
    }

    .p-inputnumber-button:enabled:hover {
        background: #53c16e !important;
        border: #14a04d !important;
    }


.p-buttonset .p-button.p-highlight {
    background: #53c16e !important;
    border-color: #1bc541 !important;
}

    .p-buttonset .p-button.p-highlight:hover {
        background: #53c16e !important;
        border-color: #1bc541 !important;
    }

.p-highlight {
    background: #adc0e8 !important;
}

forgoten-visible {
    display: none !important;
}


.floatingLoginSign {
    padding-top: 40px;
    color: #548358;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.floatingLoginEmail {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.floatingLoginPassword {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}
