@model ServerCorePages.ViewerReportFileModel

@addTagHelper *, WebOptimizer.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Html;
@using UbytkacBackend.ServerCoreStructure;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>EIC-Report File Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="charset" content="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Libor Svoboda">
    <meta name="description" content="EasyITCenter">
    <meta name="keywords" content="System, Backend, API, EASY-DATA-Center, EASY-SYSTEM-Builder, Application, Server, IT, Solution, Help, HowTo, Javascript, HTML5, UI, Library, Web, Development, Framework">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/ServerCoreTools/viewers/fastreport/css/site.css" />
    <link rel="stylesheet" href="~/ServerCoreTools/viewers/fastreport/css/metro-all.min.css" />

    <script type="text/javascript" src="~/ServerCoreTools/viewers/fastreport/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/ServerCoreTools/viewers/fastreport/js/metro.min.4.5.2.js"></script>
    <script type="text/javascript" src="~/ServerCoreTools/viewers/fastreport/js/globalBehavior.js"></script>
    <script type="text/javascript" src="~/ServerCoreTools/viewers/fastreport/js/globalFunctions.js"></script>
    <script type="text/javascript" src="~/ServerCoreTools/viewers/fastreport/js/globalStorage.js"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
