/* #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
} 
*/

.router-link-active-exact {
    background: #adc0e8 !important;
}

/* dropdown conflict correction */
.dropdown-toggle::before {
    content: none !important;
}


/* Summernote correction */
.note-editor .dropdown-toggle::after {
    all: unset;
}

.note-editor .note-dropdown-menu, .note-editor .note-modal-footer {
    box-sizing: content-box;
}

.note-editable {
    background: #fff;
}

.note-btn.dropdown-toggle:after {
    content: none;
}

.note-btn[aria-label="Help"] {
    display: none;
}

.note-editor .note-toolbar .note-color-all .note-dropdown-menu, .note-popover .popover-content .note-color-all .note-dropdown-menu {
    min-width: 185px;
}
/* End Summernote correction */

/* Google Bar optimize */
.skiptranslate {
    /* display:none !important; */
    zoom: 1.2;
}

body {
    top: 0px !important;
}


/* Image Grid Optimize */
.image-grid__item-landscape {
    width: auto !important;
}

.drop-zone {
    padding: 20px 0;
}

/* .p-inputnumber-button {
    background: #2196F3 !important;
    border: 1px solid #2196F3 !important;
} */

.app-bar-menu li {
    list-style: none !important;
}

.video-hero .YTPOverlay {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    opacity: 0.75;
    background: #499bea !important;
    background: -moz-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #499bea), color-stop(100%, #798eea));
    background: -webkit-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -o-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -ms-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -webkit-linear-gradient(315deg, #499bea 0%, #798eea 100%);
    background: -o-linear-gradient(315deg, #499bea 0%, #798eea 100%);
    background: linear-gradient(135deg, #499bea 0%, #798eea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#798eea', GradientType=1 );
    z-index: 1;
}

.app-bar {
    min-height: 35px !important;
    max-height: 35px !important;
}

    .app-bar .hamburger {
        max-height: 35px !important;
    }

.app-bar-menu > li {
    height: 35px !important;
    line-height: 35px !important;
}

.app-bar .app-bar-menu > li, .app-bar .app-bar-menu > li > a {
    line-height: 35px;
}