/* #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
} 
*/

.router-link-active-exact {
    background: #adc0e8 !important;
}

/* dropdown conflict correction */
.dropdown-toggle::before {
    content:none !important;
}
