/* #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
} 
*/

.router-link-active-exact {
    background: #adc0e8 !important;
}

/* dropdown conflict correction */
.dropdown-toggle::before {
    content: none !important;
}


/* Summernote correction */
.note-editor .dropdown-toggle::after {
    all: unset;
}

.note-editor .note-dropdown-menu, .note-editor .note-modal-footer {
    box-sizing: content-box;
}

.note-editable {
    background: #fff;
}

.note-btn.dropdown-toggle:after {
    content: none;
}

.note-btn[aria-label="Help"] {
    display: none;
}

.note-editor .note-toolbar .note-color-all .note-dropdown-menu, .note-popover .popover-content .note-color-all .note-dropdown-menu {
    min-width: 185px;
}
/* End Summernote correction */

/* Google Bar optimize */
.skiptranslate {
    /* display:none !important; */
    zoom: 1.2;
}

body {
    top: 0px !important;
}


/* Image Grid Optimize */
.image-grid__item-landscape {
    width: auto !important;
}

.drop-zone {
    padding: 20px 0;
}

.p-inputnumber-button {
    background: #2196F3 !important;
    border: 1px solid #2196F3 !important;
}
